body {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 1.1em;
  font-weight: 540;
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
}

#nav {
  top: 0px;
  border-bottom: 1px solid #999999;
  box-shadow: 0 7px 5px #eeeeee;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  background-color: white;
}

#nav.no-border {
  border: none;
}

#nav-buffer {
  width: 100%;
  height: 50px;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  text-align: center;
  color: #555;
  padding-top: 3px;
}

a.disable {
  color: #000000;
}

#nav-buttons a.disable:hover {
  color: #000000;
}

#nav-buttons {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 100%;
  padding-top: 1px;
  padding-bottom: 3px;
}

#nav-buttons ul {
  margin: 0;
  padding: 0;
  width: 100%; 
}

#nav-buttons li {
  margin: 0;
  padding: 0 0 0 27.5%;
  display: inline-block;
  width: 49%;
  text-align: left;
} 

#nav-buttons li:last-child {
  margin-right: 0;
  text-align: right;
  padding: 0 26% 0 0;
} 

.banner-crop {
  width: 100%;
  overflow: hidden;
}

#banner {
  width: 150%;
  height: auto;
  border-bottom: 4px dashed pink;
  margin-left: -25%;
}

@media only screen and (min-width: 768px){
  #nav-buffer {
    width: 100%;
    height: 25px;
  }

  #logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
    color: #555;
    padding-left: 1.25%;
    padding-top: 3px;
  }

  #nav-buttons {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 100%;
    padding-top: 6px;
    padding-right: 1.25%;
  }

  #nav-buttons ul {
    margin: 0;
    width: auto;
    float: right; 
  }

  #nav-buttons li {
   display: inline-block;
   text-align: left;
   margin: 0 5px;
   width: auto;
   padding: 0;
  } 

  #nav-buttons li:last-child {
    margin-right: 0;
    padding: 0;
  } 

  #banner{
    width: 100%;
    margin: 0;
  }
}

#nav-buttons a {
  text-decoration: none;
  color: #000000;
}

#nav-buttons a:hover{
  color: #666;
} 

.row.content {
  padding-top: 30px;
  overflow: visible;
}

.post-link {
  width: 100%;
  height: 0;
  text-decoration: none;
  overflow: hidden; 
}

.post {
  width: 70%;
  margin-left: 15%;
  box-shadow: 4px 4px 3px #eeeeee;
  margin-bottom: 15%; 
}

#new-feature {
  position: relative;
}

.post-over {
  background-color: rgba(255, 0, 0, 0);
  -webkit-transition: 0.6s;
  width: 100%;
  padding-top: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.post:hover .post-over {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  -webkit-transition: 0.6s;  
}

.post-text {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
}

.post-over-title {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.6s;
  padding: 0 5%; 
}

.post:hover .post-over-title {
  color: #222222;
  -webkit-transition: 0.6s;

} 

.post-image {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  -webkit-filter: contrast(130%) brightness(115%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: contrast(130%) brightness(115%); /* IE6-9 */
  filter: grayscale(0) contrast(130%) brightness(115%); /* Microsoft Edge and Firefox 35+ */ 
}


.post-info {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  padding-bottom: 15px;
}

.post-info h3 {
  display: none;
}

.date {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  color: #555;
  width: 100%;
  text-align: left;
}

.date-fade {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.6s;
  width: 100%;
  text-align: center;
}

.post:hover .post-info h3{
  display: block;
}

.post:hover .date-fade{
  display: block;
  color: #222222;
  -webkit-transition: 0.6s;
}

.blog-entry {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 45px;
  padding-bottom: 8%;
}

.image-crop{
  height:300px;
  overflow:hidden;
}

.blog-entry .post-info h3{
  display: block;
}
.blog-entry .date{
  display: block;
}

.blog-entry .post-image{
  -webkit-filter: contrast(120%) brightness(120%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: contrast(120%) brightness(120%);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 20px 0;
  margin: 0;
  color: #555;
  text-align: justify;
}